*,
:not('input') {
	margin: 0;
	padding: 0;
}

input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
}

body,
main {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

main {
	width: 100%;
}

button {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	background-color: #4CAF50;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
}

button:hover {
	background-color: #5FDB64;
}

header {
	background-color: rgba(0, 0, 0, 0.85);
	left: 0;
	min-height: 4ex;
	padding: 2ex 1em;
	position: fixed;
	text-align: center;
	top: 0;
	max-width: calc(100%);
	width: calc(100%);
	z-index: 2;
}

header form {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

header input[type="text"] {
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline;
	background: #fefefe;
	height: 3ex;
	padding: 1ex 1em;
	position: relative;
	min-width: 10em;
	max-width: 20em;
}

header input[type="text"] ~ button {
	margin-top: 0;
	padding: .6125ex 1em .875ex;
}

main {
	padding: 12ex 1em 2ex 1em;
	-webkit-box-pack: stretch;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
}

figure {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	background-color: inherit;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 13em;
	-ms-flex: 1 1 13em;
	flex: 1 1 13em;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 1em;
	min-height: 20.8ex;
	min-width: 5em;
	padding: 4ex 2em;
	position: relative;
}

figure:before {
	background-position: 50% 50%;
	background-size: cover;
	content: '';
	display: block;
	height: 80%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

figure > label {
	color: #ffffff;
	cursor: pointer;
	display: none;
	font: bold 1.5em/0 arial, sans;
	padding: 1em 1em;
	position: absolute;
	z-index: 5;
}

figure > label:not([for="close"]) {
	background: #000000;
	min-width: 1.5em;
	top: calc(49%);
}

figure > label:not([for="close"]):nth-of-type(1) {
	left: 0;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

figure > label:not([for="close"]):nth-of-type(2) {
	right: 0;
}

figure > img {
	background-color: inherit;
	background-position: 50% 50%;
	background-size: cover;
	bottom: 0;
	box-sizing: border-box;
	content: "";
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	max-height: 100%;
	max-width: 100%;
	-o-object-fit: scale-down;
	object-fit: scale-down;
	-o-object-position: 200% 200%;
	object-position: 200% 200%;
	position: absolute;
	padding-left: 100%;
	right: 0;
	top: 0;
}

figure label[for="close"] {
	background: #000;
	padding: 3ex 1.25em 2ex .625em;
	position: absolute;
	right: 0;
	top: 0;
}

nav {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 4ex;
}

nav button {
	padding: 2ex 2em;
}

.noscroll,
.noscroll main {
	height: 100vh;
	overflow: hidden;
}

